spring:
  profiles:
    #运行的环境
    active: test
  application:
    name: flashcomms
  datasource:
    url: jdbc:mysql://${flashcomms.mysql.ip}:${flashcomms.mysql.port}/${flashcomms.mysql.db}?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: ${flashcomms.mysql.username}
    password: ${flashcomms.mysql.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    # Redis服务器地址
    host: ${flashcomms.redis.host}
    # Redis服务器端口号
    port: ${flashcomms.redis.port}
    # 使用的数据库索引，默认是0
    database: 0
    # 连接超时时间
    timeout: 1800000
    # 设置密码
    password: ${flashcomms.redis.password}
    #时间格式转换
  jackson:
    serialization:
      write-dates-as-timestamps: true

server:
  ssl:
    key-store: ${flashcomms.key-store}
    key-store-password: ${flashcomms.key-store-password}
    key-store-type: ${flashcomms.key-store-type}

wx:
  mp:
    callback: ${flashcomms.wx.callback}
    configs:
      - appId: ${flashcomms.wx.appId} # 第一个公众号的appid
        secret: ${flashcomms.wx.secret} # 公众号的appsecret
        token: ${flashcomms.wx.token} # 接口配置里的Token值
        aesKey: ${flashcomms.wx.aesKey} # 接口配置里的EncodingAESKey值